html, body
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#main-header {
    height: 60px;
    background-color: #CCC;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
#main-nav {
    height: 40px;
    display: flex;
    flex-direction: row;
    background-color: #E1E1E1;
}
#main-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    text-decoration: none;
    color: #333;
}
#main-container {
    flex: 1;
    padding: 10px;
}
#main-footer {
    display: flex;
    height: 150px;
    background-color: #CCC;
    align-items: center;
    padding: 0 10px;
}