@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?m52qjn');
    src:    url('../fonts/icomoon.eot?m52qjn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m52qjn') format('truetype'),
    url('../fonts/icomoon.woff?m52qjn') format('woff'),
    url('../fonts/icomoon.svg?m52qjn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-transgender-alt:before {
    content: "\e900";
}
.icon-home2:before {
    content: "\e901";
}
.icon-coins:before {
    content: "\ea0a";
}
.icon-calendar5:before {
    content: "\ea63";
}
.icon-user5:before {
    content: "\eb0a";
}
.icon-users4:before {
    content: "\eb0c";
}
.icon-spinner9:before {
    content: "\eb2a";
}
.icon-cup:before {
    content: "\ebc8";
}
.icon-rocket:before {
    content: "\ebdd";
}
.icon-truck:before {
    content: "\ec0f";
}
.icon-shield4:before {
    content: "\ec36";
}
.icon-planet2:before {
    content: "\ec95";
}
.icon-eye:before {
    content: "\ecae";
}
.icon-man:before {
    content: "\ecfb";
}
.icon-woman:before {
    content: "\ecfc";
}
.icon-male:before {
    content: "\ecfe";
}
.icon-female:before {
    content: "\ecff";
}
.icon-arrow-right2:before {
    content: "\edbc";
}
.icon-arrow-left2:before {
    content: "\edc4";
}
.icon-arrow-resize3:before {
    content: "\edfd";
}
.icon-arrow-right16:before {
    content: "\ee38";
}
.icon-github:before {
    content: "\ef0f";
}
.icon-lips:before {
    content: "\ecf2";
}
.icon-arrow-down16:before {
    content: "\ee39";
}
.icon-tree:before {
    content: "\ebd2";
}
