@import url(http://fonts.googleapis.com/css?family=Droid+Sans:300,400,700);
html, body
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url('../images/stardust.png');
    font-family: "Droid Sans", arial, verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: #ff6;
    text-decoration: none;
}
a:hover, a:active {
    color: #b0b048;
}
.wrapper {
    flex-grow: 0;
    width: 600px;
    display: flex;
    flex-direction: column;
}
#main-header {
    /*height: 60px;*/
    padding: 0 10px;
    color: #ff6;
    font-size: 30px;
}
#main-header p {
    font-size: 16px;
    font-weight: 300;
    color: #b0b048;
    margin: 0;
    padding: 10px 0 15px 0;
}
#main-header span.darker {
    color: #b0b048;
}
#main-header span.ital {
    font-style: italic;
}
#main-nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#main-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #aaa;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    transition: background-color 200ms;
    flex-grow: 1;
}
#main-nav a .icon {
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
}
#main-nav a:hover {
    background: #1c1c1c;
}
#main-container {
    flex: 1;
    min-height: 400px;
    background-color: rgba(34, 34, 34, 0.50);
    position: relative;
}
#main-container h1 {
    margin: 20px 0;
    font-weight: 300;
    color: #b0b048;
    text-align: center;
    font-size: 30px;
}
#main-container h1 .icon {
    display: block;
    font-size: 32px;
}
#main-footer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #222;
}
.back-btn {
    display: none;
    position: absolute;
    left: -5px;
    top: 5px;
    height: 30px;
    background: #222;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    color: #999;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.back-btn.show {
    display: block;
}
.back-btn .icon {
    vertical-align: middle;
    display: inline-block;
    margin-top: -3px;
}
.btn {
    background-color: #ff6;
    border: none;
    color: #333;
    padding: 0 10px;
    line-height: 40px;
    cursor: pointer;
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    transition: background-color 200ms;
    display: inline-block;
}
.btn:hover {
    background-color: #b0b048;
    color: #333;
}
.btn.disabled, .btn.disabled:hover {
    background-color: #CCC;
}
.btn .icon {
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
}
/** RESOURCE LIST **/
.resource-list {
    margin: 0;
    list-style: none;
    padding: 0;
}
.resource-list li a {
    display: block;
    line-height: 40px;
    background-color: rgba(17, 17, 17, 0.60);
    padding: 0 10px;
    color: #999;
    border-bottom: solid 1px #222;
}
.resource-list li a:hover {
    background-color: #111;
}
.list-controls {
    display: flex;
}
.list-controls .btn {
    flex: 1;
}
.list-controls .num {
    width: 50px;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    font-weight: bold;
}

/** RESOURCE ITEM **/
.stats-section {
    height: auto;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.stats-section .section {
    background-color: #222;
    margin: 5px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1;
    height: auto;
    float: left;
    padding: 0 10px;
}
.stats-section label {
    font-size: 12px;
    vertical-align: middle;
    color: #b0b048;
}
.stats-section label .icon {
    font-size: 22px;
    vertical-align: middle;
    display: inline-block;
    margin: -3px 5px 0 0;
}
.stats-section .section.build p:first-child {
    margin-bottom: 10px;
}
.stats-section .section.build p:last-child {
    margin-top: 10px;
}
.stats-section .section.build .icon {
    font-size: 80px;
}

/** HOME PAGE **/
.home-container {
    padding: 20px;
}
.home-container h2 {
    margin: 0;
    color: #ff6;
}
.home-container h3 {
    color: #ff6;
}
.home-container .controls {
    height: 50px;
    text-align: center;
    margin-top: 30px;
}

/* MEDIA QUERIES */
@media (max-width:  1176px) {
    .wrapper {

    }
}

@media (max-width:  980px) {
    .wrapper {

    }
}